# Created by venv; see https://docs.python.org/3/library/venv.html
Contabilidad_Empresa/resumenes_bancarios
Contabilidad_Empresa/movimientos_bancarios.xlsx
E-Commerce Business Analysis
Proyecto_Titanic
